.table-layout {
    display:table;
    width:100%;
    margin-top: 20px;
}
.table-layout .table-cell {
    display:table-cell;
    vertical-align: top;
    padding: 10px;
}

.fixed-width-cell {
    width:250px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#renderArea {
    background-color: #ffffff;
    width: 49%;
    height: 300px;
    border: 1px solid #333;
    float: left;
    margin-right: 1%;
}

#console {
    float: left;
    height: 300px;
    width: 49%;
    overflow: auto;
    text-align: left;
    background-color: #ddd;
    padding: 10px;
}
