.table-layout {
    display:table;
    width:100%;
    margin-top: 20px;
}
.table-layout .table-cell {
    display:table-cell;
    vertical-align: top;
    padding: 10px;
}

.fixed-width-cell {
    width:250px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#renderArea {
    background-color: #ffffff;
    width: 49%;
    height: 300px;
    border: 1px solid #333;
    float: left;
    margin-right: 1%;
}

#console {
    float: left;
    height: 300px;
    width: 49%;
    overflow: auto;
    text-align: left;
    background-color: #ddd;
    padding: 10px;
}

.led-red {
    margin: 20px auto;
    width: 12px;
    height: 12px;
    background-color: #F60;
    border-radius: 50%;
    box-shadow: #600 0 -1px 7px 1px, inset #F00 0 -1px 9px, #F00 0 2px 12px;
}

.led-green {
    margin: 20px auto;
    width: 12px;
    height: 12px;
    background-color: #6F0;
    border-radius: 50%;
    box-shadow: #060 0 -1px 7px 1px, inset #0F0 0 -1px 9px, #0A0 0 2px 12px;
}

container {
    width: 220px;
    display: inline-block;
}
block {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 2px;
    float: left;
}
block[h2] {
    width: 104px;
    padding :14px;
}
block[blk] {
    padding-top : 14px;
    padding-bottom: 14px;
    padding-left : 0px;
    padding-right : 0px;
}
